 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-custom {
   padding: 0%;
  width: 100%;  
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-size:contain; /* Ajusta la imagen al tamaño del contenedor */
  background-image: url("/images/LOGO2.jpg");
}

.navbar-brand {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #ffd700;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ffd700;
}

.navbar .form-inline .form-control {
  border-color: #ffd700;
}

.navbar .form-inline .btn-outline-success {
  border-color: #ffd700;
  color: #ffd700;
}
